<launch>
  <arg name="config" default="$(find storm_ros)/config/config_goal_sequence_tray.yaml" doc="Path to parameter config file"/>

  <node name="goal_sequence_pub" pkg="storm_ros" type="sequence_goal_publisher.py" output="screen" clear_params="true">
    <rosparam file="$(arg config)" />
  </node>

  <node name="reacher_node" pkg="storm_ros" type="reacher_node.py" output="screen" clear_params="true">
    <rosparam file="$(arg config)"/>
  </node>
</launch>