<launch>
  <arg name="config" default="$(find storm)/config/config_interactive_marker_tracking_tray.yaml" doc="Path to parameter config file"/>

  <node name="interactive_marker_pub" pkg="storm" type="interactive_marker_goal_publisher" output="screen" clear_params="true">
    <rosparam file="$(arg config)" />
  </node>

  <node name="reacher_node" pkg="storm" type="reacher_node" output="screen" clear_params="true">
    <rosparam file="$(arg config)"/>
  </node>
</launch>