<?xml version="1.0" encoding="utf-8"?>
<!-- 这是一个A2D的URDF描述文件 -->
<robot name="a2d_description">
  <!-- 基座link：机器人的底盘 -->
  <!-- 机械臂link：固定在躯干上的机械臂 -->
  <link name="base_link"/>

  <!-- 左臂固定关节：将左臂固定在机器人躯干上 -->
  <joint name="joint_left_arm_mount" type="fixed">
    <origin xyz="0 0.0 0" rpy="0 0 0"/>  <!-- 从link-arm向左偏移2.5cm -->
    <parent link="base_link"/>
    <child link="base_link_l"/>
  </joint>

  <!-- 左臂的所有link和joint定义 -->
  <link
    name="base_link_l">
    <inertial>
      <origin
        xyz="-0.00020641 0.00057488 0.032296"
        rpy="0 0 0" />
      <mass
        value="0.37595" />
      <inertia
        ixx="0.00024335"
        ixy="1.2188E-06"
        ixz="-2.4281E-06"
        iyy="0.00024039"
        iyz="6.6932E-06"
        izz="0.00032195" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link_l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.05200000736048429" length="0.0913499565795064"/>
      </geometry>
      <origin xyz="1.162979919507825e-09 2.3673517507174665e-09 0.030325019266456366" rpy="0.0 -0.0 -0.6283185307179586"/>
    </collision>
  </link>
  <link
    name="Link1_l">
    <inertial>
      <origin
        xyz="-0.0012655 -0.00043778 -0.018388"
        rpy="0 0 0" />
      <mass
        value="0.4936" />
      <inertia
        ixx="0.00075396"
        ixy="6.6935E-06"
        ixz="6.1141E-06"
        iyy="0.00065755"
        iyz="1.2196E-06"
        izz="0.00031848" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link1_l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.05559538401924806" length="0.1638999544084072"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <joint
    name="Joint1_l"
    type="revolute">
    <origin
      xyz="0 0 0.1859"
      rpy="0 0 0" />
    <parent
      link="base_link_l" />
    <child
      link="Link1_l" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="60"
      velocity="3.14" />
  </joint>
  <link
    name="Link2_l">
    <inertial>
      <origin
        xyz="5.3037E-05 -0.078258 0.0047084"
        rpy="0 0 0" />
      <mass
        value="0.46245" />
      <inertia
        ixx="0.00065719"
        ixy="3.7112E-07"
        ixz="-3.6668E-06"
        iyy="0.00043459"
        iyz="-2.517E-05"
        izz="0.00072571" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link2_l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="-0.0 0.0 -0.0" xyz="0.0 -0.03777446600000001 -0.034179688"/>
      <geometry>
        <box size="0.078125 0.15545113 0.021484375"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="-0.0 0.0 -0.0" xyz="0.0 -0.092986956 -0.00048828125"/>
      <geometry>
        <box size="0.0703125 0.08602613 0.07128906"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2_l"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="-1.5708 0 1.5708" />
    <parent
      link="Link1_l" />
    <child
      link="Link2_l" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.09"
      upper="1.48"
      effort="60"
      velocity="3.14" />
  </joint>
  <link
    name="Link3_l">
    <inertial>
      <origin
        xyz="-0.0012032 0.0008714 -0.055265"
        rpy="0 0 0" />
      <mass
        value="0.50026" />
      <inertia
        ixx="0.0013016"
        ixy="3.1401E-06"
        ixz="1.4255E-05"
        iyy="0.001427"
        iyz="2.4361E-05"
        izz="0.00033587" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link3_l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.05134501389693651" length="0.21500002965331078"/>
      </geometry>
      <origin xyz="1.8626451537276945e-09 -0.005707027504228184 -0.07249999232590199" rpy="0.0 -0.0 -1.8849555921538759"/>
    </collision>
  </link>
  <joint
    name="Joint3_l"
    type="revolute">
    <origin
      xyz="0 -0.305 0"
      rpy="1.5708 1.5708 0" />
    <parent
      link="Link2_l" />
    <child
      link="Link3_l" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="60"
      velocity="3.14" />
  </joint>
  <link
    name="Link4_l">
    <inertial>
      <origin
        xyz="3.7035E-05 -0.06248 0.0025377"
        rpy="0 0 0" />
      <mass
        value="0.27473" />
      <inertia
        ixx="0.00029284"
        ixy="4.6615E-07"
        ixz="6.2359E-08"
        iyy="0.00018853"
        iyz="-1.1062E-06"
        izz="0.00031238" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link4_l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="-0.0 0.0 -0.0" xyz="0.0 -0.030868530000000005 -0.030273438"/>
      <geometry>
        <box size="0.0703125 0.13151169 0.017578125"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="-0.0 0.0 -0.0" xyz="0.0 -0.07945728 -0.001953125"/>
      <geometry>
        <box size="0.056640625 0.07028388999999999 0.0625"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4_l"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="-1.5708 0 -3.1416" />
    <parent
      link="Link3_l" />
    <child
      link="Link4_l" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.48"
      upper="1.48"
      effort="60"
      velocity="3.14" />
  </joint>
  <link
    name="Link5_l">
    <inertial>
      <origin
        xyz="-7.9404E-07 -0.00023094 -0.024143"
        rpy="0 0 0" />
      <mass
        value="0.25139" />
      <inertia
        ixx="0.00023516"
        ixy="-1.3496E-09"
        ixz="-2.0314E-08"
        iyy="0.00028808"
        iyz="-1.2106E-05"
        izz="0.00013069" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link5_l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
     <collision>
      <geometry>
        <cylinder radius="0.04058189219799553" length="0.12419998832046986"/>
      </geometry>
      <origin xyz="-1.8626451568152156e-09 -3.2986506384037606e-05 -0.03359998669475317" rpy="3.141592653589793 -1.2246467991473532e-16 3.141592653589793"/>
    </collision>
  </link>
  <joint
    name="Joint5_l"
    type="revolute">
    <origin
      xyz="0 -0.1975 0"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="Link4_l" />
    <child
      link="Link5_l" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="30"
      velocity="3.14" />
  </joint>
  <link
    name="Link6_l">
    <inertial>
      <origin
        xyz="1.769E-06 -0.086692 0.0025571"
        rpy="0 0 0" />
      <mass
        value="0.26634" />
      <inertia
        ixx="0.00031434"
        ixy="-2.9254E-09"
        ixz="1.0017E-07"
        iyy="0.00014464"
        iyz="-2.0329E-05"
        izz="0.0003245" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link6_l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="-0.0 0.0 -0.0" xyz="0.0 -0.035750016999999995 -0.028320312"/>
      <geometry>
        <box size="0.05859375 0.12849998 0.015625"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="-0.0 0.0 -0.0" xyz="0.0 -0.10310431 -0.0009765625"/>
      <geometry>
        <box size="0.05859375 0.08339137000000002 0.05859375"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint6_l"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="-1.5708 0 0" />
    <parent
      link="Link5_l" />
    <child
      link="Link6_l" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.74"
      upper="1.74"
      effort="30"
      velocity="3.14" />
  </joint>
  <link
    name="Link7_l">
    <inertial>
      <origin
        xyz="-7.5113E-05 -0.00024521 -0.016705"
        rpy="0 0 0" />
      <mass
        value="0.06158" />
      <inertia
        ixx="1.8407E-05"
        ixy="3.4796E-08"
        ixz="-3.2424E-09"
        iyy="1.818E-05"
        iyz="1.1327E-07"
        izz="2.8547E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link7_l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.030803805454578115" length="0.04599999970197749"/>
      </geometry>
      <origin xyz="-0.0022255658813748946 -0.0005957682043378973 -0.023000000238418226" rpy="3.141592653589793 -1.2246467991473532e-16 3.141592653589793"/>
    </collision>
  </link>
  <joint
    name="Joint7_l"
    type="revolute">
    <origin
      xyz="0 -0.1805 0"
      rpy="1.5708 0 0" />
    <parent
      link="Link6_l" />
    <child
      link="Link7_l" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="30"
      velocity="3.14" />
  </joint>
  <link
    name="Link_hand_l">
    <inertial>
      <origin
        xyz="0.0036691 0.0082806 0.059221"
        rpy="0 0 0" />
      <mass
        value="0.070229" />
      <inertia
        ixx="5.5259E-05"
        ixy="-8.7205E-06"
        ixz="-7.9434E-06"
        iyy="6.2355E-05"
        iyz="-1.345E-05"
        izz="4.4874E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link_hand_l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
              <origin rpy="-0.0 0.0 -0.0" xyz="0.0 0.0 0.0"/>
              <geometry>
                <box size="0.2 0.08 0.2"/>
              </geometry>
    </collision>
    <collision>
              <origin rpy="-0.0 0.0 0.5236" xyz="0.0 0.0 0.0"/>
              <geometry>
                <box size="0.2 0.08 0.2"/>
              </geometry>
    </collision>
  </link>
  <joint
    name="Joint_hand_l"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 -0.5236" /> <!-- 30度 -->
    <parent
      link="Link7_l" />
    <child
      link="Link_hand_l" />
    <axis
      xyz="0 0 0" />
  </joint>

  <!-- 右臂的所有link和joint定义 -->
  <link
    name="base_link_r">
    <inertial>
      <origin
        xyz="0.00020641 -0.00057488 0.034396"
        rpy="0 0 0" />
      <mass
        value="0.37595" />
      <inertia
        ixx="0.00024335"
        ixy="1.2188E-06"
        ixz="2.4281E-06"
        iyy="0.00024039"
        iyz="-6.6932E-06"
        izz="0.00032195" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link_r.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.052000007360484296" length="0.0913499565795064"/>
      </geometry>
      <origin xyz="1.1629799202463436e-09 2.367351754410837e-09 0.030325019266456366" rpy="0.0 -0.0 -2.5132741228718345"/>
    </collision>
  </link>
</robot>
<!--   
  <link
    name="Link1_r">
    <inertial>
      <origin
        xyz="0.0012679 -0.0001581 -0.018109"
        rpy="0 0 0" />
      <mass
        value="0.4936" />
      <inertia
        ixx="0.00075396"
        ixy="-2.4144E-06"
        ixz="-1.8364E-06"
        iyy="0.0006605"
        iyz="1.2174E-06"
        izz="0.00031553" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link1_r.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.054826869905906996" length="0.16639703139662743"/>
      </geometry>
      <origin xyz="-0.001200948099027799 3.725290311534589e-09 0.040701428428292274" rpy="0.0 -0.0 -0.6283185307179586"/>
    </collision>
  </link>
  <joint
    name="Joint1_r"
    type="revolute">
    <origin
      xyz="0 0 0.188"
      rpy="0 0 0" />
    <parent
      link="base_link_r" />
    <child
      link="Link1_r" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="60"
      velocity="3.14" />
  </joint>
  <link
    name="Link2_r">
    <inertial>
      <origin
        xyz="-0.00044207 -0.082298 0.00019486"
        rpy="0 0 0" />
      <mass
        value="0.41662" />
      <inertia
        ixx="0.00054592"
        ixy="4.7265E-06"
        ixz="2.4946E-06"
        iyy="0.00039507"
        iyz="-2.0629E-05"
        izz="0.00057791" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link2_r.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="-0.0 0.0 -0.0" xyz="0.0 -0.03302445 -0.03564453"/>
      <geometry>
        <box size="0.078125 0.14595109 0.018554688"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="-0.0 0.0 -0.0" xyz="0.0 -0.09210788 -0.0014648437999999972"/>
      <geometry>
        <box size="0.0703125 0.08778427999999999 0.07324219"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2_r"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="Link1_r" />
    <child
      link="Link2_r" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.48"
      upper="2.09"
      effort="60"
      velocity="3.14" />
  </joint>
  <link
    name="Link3_r">
    <inertial>
      <origin
        xyz="0.0010558 4.4416E-05 -0.056128"
        rpy="0 0 0" />
      <mass
        value="0.49413" />
      <inertia
        ixx="0.0013405"
        ixy="-6.8527E-07"
        ixz="-1.3381E-05"
        iyy="0.00142"
        iyz="2.8511E-05"
        izz="0.00037605" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link3_r.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.0482760420608603" length="0.21502392594657949"/>
      </geometry>
      <origin xyz="-3.419908598315124e-05 0.00200476397846085 -0.07252026254124071" rpy="-6.776263578034403e-21 -0.0008735448205619515 -1.6336534081976601"/>
    </collision>
  </link>
  <joint
    name="Joint3_r"
    type="revolute">
    <origin
      xyz="0 -0.305 0"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="Link2_r" />
    <child
      link="Link3_r" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="60"
      velocity="3.14" />
  </joint>
  <link
    name="Link4_r">
    <inertial>
      <origin
        xyz="2.4212E-05 -0.06248 0.002536"
        rpy="0 0 0" />
      <mass
        value="0.27473" />
      <inertia
        ixx="0.00029283"
        ixy="4.5586E-07"
        ixz="5.8042E-08"
        iyy="0.00018852"
        iyz="-1.116E-06"
        izz="0.00031238" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link4_r.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="-0.0 0.0 -0.0" xyz="0.0 -0.031606674 -0.028320312"/>
      <geometry>
        <box size="0.0703125 0.13298798 0.021484375"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="-0.0 0.0 -0.0" xyz="0.0 -0.08052635 -0.0009765625"/>
      <geometry>
        <box size="0.056640625 0.06814575 0.060546875"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4_r"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="-1.5708 0 -3.1416" />
    <parent
      link="Link3_r" />
    <child
      link="Link4_r" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.48"
      upper="1.48"
      effort="60"
      velocity="3.14" />
  </joint>
  <link
    name="Link5_r">
    <inertial>
      <origin
        xyz="2.6223E-06 -0.00023041 -0.024141"
        rpy="0 0 0" />
      <mass
        value="0.25139" />
      <inertia
        ixx="0.00023516"
        ixy="-6.5868E-09"
        ixz="-1.9428E-08"
        iyy="0.00028807"
        iyz="-1.2108E-05"
        izz="0.00013068" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link5_r.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.04058189219799553" length="0.12419998832046986"/>
      </geometry>
      <origin xyz="-1.8626451568152156e-09 -3.2986506384037606e-05 -0.03359998669475317" rpy="3.141592653589793 -1.2246467991473532e-16 3.141592653589793"/>
    </collision>
  </link>
  <joint
    name="Joint5_r"
    type="revolute">
    <origin
      xyz="0 -0.1975 0"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="Link4_r" />
    <child
      link="Link5_r" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="30"
      velocity="3.14" />
  </joint>
  <link
    name="Link6_r">
    <inertial>
      <origin
        xyz="5.0382E-06 -0.086696 0.002556"
        rpy="0 0 0" />
      <mass
        value="0.26634" />
      <inertia
        ixx="0.00031434"
        ixy="-1.2113E-09"
        ixz="1.0011E-07"
        iyy="0.00014464"
        iyz="-2.033E-05"
        izz="0.00032449" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link6_r.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="-0.0 0.0 -0.0" xyz="0.0 -0.035750016999999995 -0.027832031"/>
      <geometry>
        <box size="0.05859375 0.12849998 0.016601562"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="-0.0 0.0 -0.0" xyz="0.0 -0.10436994 -0.0009765625"/>
      <geometry>
        <box size="0.05859375 0.08086011599999998 0.05859375"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint6_r"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="-1.5708 0 0" />
    <parent
      link="Link5_r" />
    <child
      link="Link6_r" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.74"
      upper="1.74"
      effort="30"
      velocity="3.14" />
  </joint>
  <link
    name="Link7_r">
    <inertial>
      <origin
        xyz="-7.5134E-05 -0.00024521 -0.016705"
        rpy="0 0 0" />
      <mass
        value="0.06158" />
      <inertia
        ixx="1.8407E-05"
        ixy="3.4818E-08"
        ixz="-3.2902E-09"
        iyy="1.818E-05"
        iyz="1.1326E-07"
        izz="2.8547E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link7_r.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.03080380580115744" length="0.04599999970199864"/>
      </geometry>
      <origin xyz="0.0016295149063535108 0.0016287297223462817 -0.023000000238407647" rpy="3.141592653589793 -1.2246467991473532e-16 2.5132741228718345"/>
    </collision>
  </link>
  <joint
    name="Joint7_r"
    type="revolute">
    <origin
      xyz="0 -0.1805 0"
      rpy="1.5708 0 0" />
    <parent
      link="Link6_r" />
    <child
      link="Link7_r" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="30"
      velocity="3.14" />
  </joint>
  <link
    name="Link_hand_r">
    <inertial>
      <origin
        xyz="0.0014587 -0.0031343 0.065888"
        rpy="0 0 0" />
      <mass
        value="0.053878" />
      <inertia
        ixx="1.4051E-05"
        ixy="1.9716E-08"
        ixz="4.0724E-07"
        iyy="2.1078E-05"
        iyz="-8.9137E-07"
        izz="1.6258E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link_hand_r.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
              <origin rpy="-0.0 0.0 -0.0" xyz="0.0 0.0 0.0"/>
              <geometry>
                <box size="0.2 0.08 0.2"/>
              </geometry>
    </collision>
    <collision>
              <origin rpy="-0.0 0.0 -0.5236" xyz="0.0 0.0 0.0"/>
              <geometry>
                <box size="0.2 0.08 0.2"/>
              </geometry>
    </collision>
  </link>
  <joint
    name="Joint_hand_r"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0.5236" /> <!-- 30度 -->
    <parent
      link="Link7_r" />
    <child
      link="Link_hand_r" />
    <axis
      xyz="0 0 0" />
  </joint> -->
